main {
    background-color: #293D45;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.carousel {
    align-items: center;

    display: inherit;
}

.artistInfo {
    color: #fff;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.topSongs {
    color: #fff;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.albums {
    color: #fff;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.header-footer {
    background-color: #073245;
}

.inputColor {
    background-color: #073245;
    filter:brightness(85%);
}
