body {
    background: linear-gradient(rgb(187, 68, 68), rgb(231, 112, 112)
    );
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.carousel {
    align-items: center;
    display: inherit;
}

.artistInfo {
    font: black;
    background: rgba(207, 22, 22, 0.705);
    border-style: solid;
    border-color: rgb(247, 243, 243);
    border-width: 1px;
}

.topSongs {
    font: black;
    background: rgba(207, 22, 22, 0.705);
    border-style: solid;
    border-color: rgb(241, 239, 239);
    border-width: 1px;
}

.albums {
    font: black;
    background: rgba(207, 22, 22, 0.705);
    border-style: solid;
    border-color: rgb(245, 240, 240);
    border-width: 1px;
}
