body {
    background-color: #293D45;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.container {
    background-color: gray;
    color: black;
}

.main {
    display: flex;
    flex-wrap: wrap;

}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.artistInfo {
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

#artistName {
    background: #566266;
}

#topTracks {
    background: #566266;
}

.topSongs {
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.albums {
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

#knownAlbum {
    background: #566266;
}

#bio {
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

#bio-text {
    background: #566266;
}

#related {
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px; 
}

#related-text {
   background: #566266;
}

#header-footer {
    background-color: #073245;
}

.inputColor {
    background-color: #073245;
    filter:brightness(85%);
}


.stats {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}


/*
#stat1 {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}

#stat2 {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}

#stat3 {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}

#stat4 {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}
*/
