
main {
    background-color: #293D45;
}

.main {
    display: flex;
    flex-wrap: wrap;
    color: #fff;

}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #000;
}

.artistInfo {
    color: #000;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.topSongs {
    color: #000;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.albums {
    color: #000;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.header-footer {
    background-color: #073245;
}

.inputColor {
    background-color: #073245;
    filter:brightness(85%);
}
