body {
    background-color: #293D45;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.row {
    max-width: 560px;
    max-height: 400px;
}

.cat {
    max-width: 60px;
    max-height: 60px;
}

.container {
    background-color: gray;

    color: black;
    max-width: 150px;
    max-height: 150px;
}

.main {
    display: flex;
    flex-wrap: wrap;

    text-align: center;

    color: #fff;
    flex-grow: 1;

}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #000;
}

.artistInfo {
    width: 300px;
    height: 300px;

    color: #fff;

    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

#artistName {
    background: #566266;
}

#topTracks {
    background: #566266;
}

.topSongs {

    width: 300px;
    height: 300px;

    color: #fff;

    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

.albums {

    width: 300px;
    height: 300px;
=======
    color: #fff;

    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

#knownAlbum {
    background: #566266;
}

#bio {
    width: 700px;
    height: 400px;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px;
}

#bio-text {
    background: #566266;
}

#related {
    width: 700px;
    height: 400px;
    background: #073245;
    border-style: solid;
    border-color: #566266;
    border-width: 1px; 
}

#related-text {
    background: #566266;
}

#header-footer {
    background-color: #073245;
}

.inputColor {
    background-color: #073245;
    filter:brightness(85%);
}



.stats {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}

#artistImg {
    max-width: 200px;
footer {
    display: flex;
    align-items: flex-end;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
  }
  
  .responsive {
    max-width: 60px;
    max-height: 60px;
  }

/*
#stat1 {
    background: linear-gradient(45deg, #000000e0, #35d3b6cc);
    color: #ffffffc9;
    font-size: large;
    font-weight: 600;
    text-shadow: 2px 2px 3px #4a4a4a;
}

@media screen and (max-width: 600px;) {
    .carousel {
        flex-wrap: wrap;
    }

    body {
        background-color: red;
    }

}

